@using MambaMVC.Areas.Admin.ViewModels.Professions

@model IEnumerable<ProfessionItemVM>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Employees</h4>
            <a asp-action="create" class="btn btn-success">Create Profession</a>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                           
                            <th>
                                Settings
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ProfessionItemVM itemVM in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    @itemVM.Name
                                </td>
                               
                                <td>
                                    <a asp-action="delete" asp-route-id="@itemVM.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                                    <a asp-action="update" asp-route-id="@itemVM.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                
                                    <i></i>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>